body {
    padding: 0;
    margin: 0;
    background-color: rgba(26,27,27,255)
  }
  
  #mapid
 {
    
  position: relative;
  border: 1px solid rgba(26,27,27,255);
  border-radius: 8px;  
  width:100%;
  height:400px;

  }

  .legend {
    padding: 10px;
    font-family: Sanchez, serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color:grey;
    background-color: '#616161';
    border-radius: 5px;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
  }
  
  .legend ul {
    padding: 0;
    margin: 0;
    clear: both;
    list-style-type: none;
  }
  
  .legend li {
    display: inline-block;
    width: 40px;
    height: 22px;
  }
  
  .legend .min {
    float: left;
    padding-bottom: 5px;
  }
  
  .legend .max {
    float: right;
  }

  h1 {
    text-align: center;
    font-size: 20px;
  }

  .panel-title {
    text-align: center;
    font-size: 15px;
  }

  .jumbotron{
   
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(32,32,32,0.3) 100%), url('https://i.redd.it/a78qhcvngs521.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
   }

   .jumbotron h1{
    color: rgb(28,28,28);
    
}

#description {

  color: rgb(28,28,28);
}

.well{
  background-color: rgb(62,61,59);
  border: green;

}

.panel-title{
  background-color: red}

h5{

  color: white;
  
}

/* .hero h1 {
  margin-top: 200px;
  font-size: 0.1rem;
  animation: title 1.2s forwards linear;
}  */
 /* .hero p {
  font-size: 2rem;
  opacity: 0;
  animation: subtitle 1.2s forwards linear;
  animation-delay: 1.2s;
} */


/* .hero h1 {
    animation: smaller-title 1.2s forwards linear;
  } */

