<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GRAND SUMO BASHO</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet" type="text/javascript"/>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/leaflet.extra-markers.min.css" />
    <link rel="shortcut icon" href="#">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>Grand Sumo Championship</h1>
                <p>After the retirement of YokozunaKakuryu in March 2021, sumo fans are cheering for their favorite
                    rikishi (sumo wrestler) to raise to the top rank in Sumo! Who will fill this gap? Terunofuji with
                    his Cinderella story climbing back to Osekirank? Seasoned rikishi Takakeisho? Time to find out and
                    place bets! </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div id="map"></div>
            </div>
            <div class="col-md-2">
                <div class="well">
                    <h5>Fighter Name:</h5>
                    <select id="selFighter">
                        
                    </select>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Fighter image placeholder</h3>
                        <img src='' width='500' height='500' id='fighter_img'>
                    </div>
                    <div id="sample-metadata" class="panel-body"></div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="well">
                    <h5>Select Tournament:</h5>
                    <select id="selDate"></select>
                    <hr>
                    <button id="filter-btn" type="button" class="btn btn-default">Filter Table</button>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Fighter Details</h3>
                    </div>
                    <div id="sample-metadata" class="panel-body"></div>
                </div>
            </div>
            <!----- results table-->
            <div class="col-md-8">
                <div id="table-area" class="">
                    <h4>Tournament Results:</h4>
                    <table id="results-table" class="table table-striped">
                        <thead>
                            <tr>
                                <th class="table-head">basho</th>
                                <th class="table-head">day</th>
                                <th class="table-head">rikishi1_id</th>
                                <th class="table-head">rikishi1_rank</th>
                                <th class="table-head">rikishi1_shikona</th>
                                <th class="table-head">rikishi1_result</th>
                                <th class="table-head">rikishi1_win</th>
                                <th class="table-head">kimarite</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div id="piechart"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div id="line chart"></div>
                </div>
                <div class="col-md-6">
                    <div id="scatter plot"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- D3 -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <!-- MomentJS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <!-- Icons --
    <script type="text/javascript" src="static/js/leaflet.extra-markers.min.js"></script> -->
    <!-- API Key -->
    <script type="text/javascript" src="static/js/config.js"></script>
    <!-- Our JavaScript -->
    <script type="text/javascript" src="static/js/logic.js"></script>
</body>
</html>