<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GRAND SUMO BASHO</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet" type="text/javascript"/>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/leaflet.extra-markers.min.css" />
    <link rel="shortcut icon" href="#">
    
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    
</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>Grand Sumo Championship</h1>
                <p>After the retirement of YokozunaKakuryu in March 2021, sumo fans are cheering for their favorite
                    rikishi (sumo wrestler) to raise to the top rank in Sumo! Who will fill this gap? Terunofuji with
                    his Cinderella story climbing back to Osekirank? Seasoned rikishi Takakeisho? Time to find out and
                    place bets! </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8" id='sumo_map'>
                <div id="mapid"></div>
            </div>
            <div class="col-md-2">
                <div class="well">
                    <h5>Fighter Name:</h5>
                    <select id="selFighter">
                        
                    </select>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Fighter image placeholder</h3>
                        
                    </div>
                    <div id="sample-metadata" class="panel-body">
                        <div id='fighter_img'></div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="well">
                    <h5>Select Tournament:</h5>
                    <select id="selYear"></select>
                    <select id="selMonth"></select>
                    
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Fighter Details</h3>
                    </div>
                    <div id="sample-metadata" class="panel-body">
                        <div id='fighter_info'></div>
                    </div>
                    
                </div>
            </div>
            <!----- results table-->
            <div class="col-md-8">
                <div id="table-area">
                    <h4>Basho Results (Tournament):</h4>
                    <table id="results-table" class="table table-striped">
                        <thead>
                            <tr>
                                <th class="table-head" style = "font-size: 11px;" >Basho Year</th>
                                <th class="table-head" style = "font-size: 11px;" >Basho Month</th>
                                <th class="table-head" style = "font-size: 11px;">Basho Day</th>
                                <th class="table-head" style = "font-size: 11px;">Rikishi (Fighter)</th>
                                <th class="table-head" style = "font-size: 11px;">Rank</th>
                                <th class="table-head" style = "font-size: 11px;">Opponent</th>
                                <th class="table-head" style = "font-size: 11px;">Rikishi Score</th>
                                <th class="table-head" style = "font-size: 11px;">Opponent Score</th>
                                <th class="table-head" style = "font-size: 11px;">Kimarite (Finsishing Move)</th>
                                <th class="table-head" style = "font-size: 11px;">Win</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div id="piechart"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div id="line chart"></div>
                </div>
                <div class="col-md-6">
                    <div id="scatter plot"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    <!-- MomentJS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

    <!-- D3 -->
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <!-- Icons -->
    <script src="static/js/leaflet.extra-markers.min.js"></script>
    
    <!-- API Key -->
    <script type="text/javascript" src="static/js/config.js"></script>

    <!-- Our JavaScript -->
    <script type="text/javascript" src="static/js/logic.js"></script>

</body>
</html>